.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.App__main-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.App__main-content {
  width: calc(100% - 320px);
  overflow-x: hidden;
}

.test-table {
  border-collapse: collapse;
  width: 100%;
}

.test-table td {
  border: 1px solid #dddddd;
}

@media screen and (max-width: 900px) {
  .App {
    padding-top: 190px;
  }
  .App__main-content {
    width: 100%;
  }
}