.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background: grey;
  padding-top: 190px;
}

.App__main-container {
  outline: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.App__main-content {
  outline: 1px solid green;
  width: 70%;
  overflow-x: hidden;
}

.test-table {
  border-collapse: collapse;
  width: 100%;
}

.test-table td {
  border: 1px solid #dddddd;
}