.header {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 6;
  box-sizing: border-box;
}

.header__logo-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  margin-right: 10%;
  box-sizing: border-box;
}

.header__burger-menu {
  display: none;
  width: 30px;
  height: 30px;
  background-image: url('../../images/header__burger-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: .5;
}

.header__burger-menu_hidden {
  display: none;
}

.header__logo-title {
  white-space: pre-line;
  font-size: 12px;
  margin: 0;
}

.header__logo {
  width: 150px;
  margin-right: 10%;
  cursor: pointer;
}

.header__contacts {
  text-align: start;
}

.header__phones {
  margin-bottom: 10px;
}

.header__addresses {
  padding-left: 30px;
}

.header__item {
  display: inline;
  position: relative;
  text-decoration: none;
  color: black;
  min-width: 30%;
  margin: 0;
  margin-right: 15px;
  padding: 5px 0 5px 32px;
}

.header__item::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .8s ease;
}

.header__item:hover.header__item::before {
  opacity: .5;
}

.header__item_type_phone::before {
  background-image: url('../../images/contacts-icons/phone-icon.png');
}

.header__item_type_whatsapp::before {
  background-image: url('../../images/contacts-icons/whatsapp-icon.png');
}

.header__item_type_telegramm::before {
  background-image: url('../../images/contacts-icons/telegram-icon.png');
}

.header__item_type_mail::before {
  background-image: url('../../images/contacts-icons/mail-icon.png');
}

.header__item_type_home::before {
  background-image: url('../../images/contacts-icons/home-icon.png');
}

.header__item:nth-child(3)  {
  margin-right: 0;
}

.header__addresses .header__item:nth-child(2) {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  .header {
    flex-direction: column-reverse;
  }

  .header__logo-container {
    margin: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 1%;
    align-items: center;
    flex-direction: row;
  }
  
  .header__burger-menu {
    display: block;
  }

  .header__item_mobile-hidden {
    display: none;
  }

  .header__logo-title {
    display: none;
  }

  .header__burger-menu_hidden {
    display: none;
  }
}