.header {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 6;
  box-sizing: border-box;
}

.header__logo-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-left: 5%;
  margin-right: 10%;
  box-sizing: border-box;
}

.header__burger-menu {
  display: none;
  width: 30px;
  height: 30px;
  background: red;
}

.header__logo-title {
  white-space: pre-line;
  font-size: 12px;
  margin: 0;
}

.header__logo {
  width: 150px;
  margin-right: 10%;
}

.header__contacts {
  text-align: start;
}

.header__phones {
  margin-bottom: 10px;
}

.header__addresses {
  padding-left: 30px;
}

.header__item {
  display: inline;
  text-decoration: none;
  color: black;
  min-width: 30%;
  margin: 0;
  margin-right: 15px;
}

.header__item:nth-child(3)  {
  margin-right: 0;
}

.header__addresses .header__item:nth-child(2) {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  .header {
    flex-direction: column-reverse;
  }

  .header__logo-container {
    margin: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 1%;
    align-items: center;
    flex-direction: row;
  }
  
  .header__burger-menu {
    display: block;
  }

  .header__item_mobile-hidden {
    display: none;
  }

  .header__logo-title {
    display: none;
  }
}