.slick-arrow {
  z-index: 1;
}

.slick-arrow::before {
  display: none;
}

.slick-arrow.slick-next {
  right: 0;
  background-image: url('../../images/slide-next.png');
}

.slick-arrow.slick-prev {
  left: 0;
  background-image: url('../../images/slide-prev.png');
}
